# =====================================
# Project specific
# =====================================
coverage/

# compiled output
dist/
build/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# =====================================
# IDEs
# =====================================

# IntelliJ / Webstorm
# Solution according to
#   - https://stackoverflow.com/questions/11968531/what-to-gitignore-from-the-idea-folder
#   - https://intellij-support.jetbrains.com/hc/en-us/articles/206544839-How-to-manage-projects-under-Version-Control-Systems
**/.idea/workspace.xml
**/.idea/usage.statistics.xml
**/.idea/tasks.xml
**/.idea/shelf
# AWS User-specific
**/.idea/**/aws.xml

# Visual Studio Code
# Ignore everything in .vscode except specific files
.vscode/*
!.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# =====================================
# node.js
# =====================================
node_modules/

# =====================================
# npm & yarn & pnpm
# =====================================
npm-debug.log
*/.npm

# =====================================
# OS specific stuff
# =====================================

# MacOs crap
.DS_Store

# =====================================
# Other typical files in my coding environments
# =====================================
# Sentry Config File
.sentryclirc
